.container-fluid{
    width: 100%;
    height: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
/***********************
    Section Head
*************************/
.section-head h2{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    width: fit-content;
  }
  .section-head {
  margin: 0 0 2rem 0;
 
  }
/***********************
    Submit Btn
*************************/

  .submit-btn{
      float: right;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #2861CF;
  border: 2px solid #2861CF;
  border-radius: 2rem;
}
.submit-btn-disabled{
    padding-right: 2rem;
    padding-left: 2rem;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #9BA5BA;
    border: 2px solid #9BA5BA;
    border-radius: 2rem;  
    cursor: default;
}
.submit-btn:hover {
    border: 2px solid #FA9600;
    color: #ffffff;
    background-color: #FA9600;
    box-shadow: 2px 4px 5px #000;
}

.alertbox{
    background: none;
    justify-content: center;
    position: fixed;
    top: 2%;
}
.alertbox .alert{
    width: 20rem;
}

label{
    color: black;
}


@media only screen and (min-width : 760px){
    form{
        width: 70%;
    }
}