<!-- Nav Bar start-->

<nav class="navbar navbar-expand-lg navbar-dark primary-bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">BLOCK APP</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >HOME </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/create-record']" routerLinkActive="active" >CREATE RECORD</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active" >Register</a>
      </li>
    </ul>
    
  </div>
</nav>

<!-- Nav Bar end -->

<router-outlet></router-outlet>


<!-- footer start -->
<footer class="foot primary-bg-dark text-light py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-3 mx-auto">
              <h3>Block App</h3>
              <small class="d-block text-muted">Blockchain Based Application</small>
          </div>
          <!--end of col-->
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</footer>
<!-- footer end -->
