  .jumbotron-odi-hero{
  padding: 0rem 0rem;
   position: relative;
   max-width: 100%;
   background-image: url('../../assets/img/bg-home-1.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  }
  
  .jumbotron-overlay {
   height:100%;
   padding: 100px 0;
   color:#fff;
   
  }
  .jumbotron-padding{
   padding-top: 6rem;
   
  }
  .jumbotron-odi-hero .display-4{
      font-weight: 400;
      text-shadow: 2px 2px 5px black;
      color: wheat;
  }
  
  .btn-circle {
     border-radius: 30px;
  }
  
  .latest-news {
   border-bottom: .25rem solid transparent;
   border-bottom-color: #007bff;
  }